  body {
    background-color: #d1f5d3;
  }
  hr {
    width: 10%;
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;

  }

  img {
    height: 225px;
  }
 h1 {
   color: #7d5e2a;
 }

 h3 {
   color: #7d5e2a;
 }
